#questionsContainer {
    width: 100%;
}

circle.node {
    stroke: #1798A5;
    stroke-width: 4;
    fill: #1798A5;
}

circle.noBranching {
    stroke: #1798A5;
    stroke-width: 2;
    fill: #1798A5;
}

circle.endNode {
    stroke: #BE140B;
    stroke-width: 2;
    fill: #BE140B;
}

circle.hover {
    stroke: #1ec9db;
    /*stroke-width: 2;*/
    fill: #1ec9db;
}

.transparent {
    opacity: 0 !important;
}

.edge {
    stroke: #1798A5;
    stroke-width: 2;
    fill: none;
}

path.hover {
    stroke: #1798A5;
    stroke-width: 12;
    fill: none;
}

line.currentLine {
    stroke-width: 2;
}

.highlight-red {
    stroke: #BE140B;
    /*stroke-width: 2;*/
}

.highlight-green {
    stroke: #0bbe34;
    /*stroke-width: 2;*/
}

.highlight-blue {
    stroke: #1ec9db;
    /*stroke-width: 2;*/
}

.highlight-gray {
    stroke: #4b4b4b;
    /*stroke-width: 2;*/
    opacity: 0.6;
}

/*.edge:hover {
    stroke: #1ec9db;
    stroke-width: 2;
    fill: none;
}*/

div.qtip-content > hr {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

div.qtip-titlebar {
    width: 100%;
}

div.qtip .actionLink {
    float: right;
}

div.qtip ul {
    font-size: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}