.hiddenTooltip {
    display: none;
}

#sortableConnections a.deleteCondition {
    float: right;
    height: 0.8em;
}

#sortableConnections select {
    padding: 0;
    margin: 0;
    height: 2em;
    width: 98%;
}

.editConnections {
    display: none;
}

.addCondition {
    padding-top: 0.5em;
}

button {
    float: right;
    margin-left: 1em;
}