<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Free Text Field'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="freeTextFields index large-9 medium-8 columns content">
    <h3><?= __('Free Text Fields') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('question_id') ?></th>
                <th><?= $this->Paginator->sort('caption') ?></th>
                <th><?= $this->Paginator->sort('sample_text') ?></th>
                <th><?= $this->Paginator->sort('min_length') ?></th>
                <th><?= $this->Paginator->sort('max_length') ?></th>
                <th><?= $this->Paginator->sort('priority') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($freeTextFields as $freeTextField): ?>
            <tr>
                <td><?= $this->Number->format($freeTextField->id) ?></td>
                <td><?= $freeTextField->has('question') ? $this->Html->link($freeTextField->question->id, ['controller' => 'Questions', 'action' => 'view', $freeTextField->question->id]) : '' ?></td>
                <td><?= h($freeTextField->caption) ?></td>
                <td><?= h($freeTextField->sample_text) ?></td>
                <td><?= $this->Number->format($freeTextField->min_length) ?></td>
                <td><?= $this->Number->format($freeTextField->max_length) ?></td>
                <td><?= $this->Number->format($freeTextField->priority) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $freeTextField->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $freeTextField->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $freeTextField->id], ['confirm' => __('Are you sure you want to delete # {0}?', $freeTextField->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
